<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.01)"
  size="default"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
> -->
<!-- <p style="color: white">Loading...</p>
</ngx-spinner> -->
<div class="my-container">
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item">
                <h4 class="page-title">CATEGORIAS</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main">
                  <i class="fas fa-home"></i> Home</a
                >
              </li>
              <li class="breadcrumb-item active">Categorias</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix"></div>
    </div>
  </section>
</div>
